<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">golf_course</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Sport</p>
                        <h3 class="card-title">20 Topic</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">fiber_new</i>
                    </div>
                    <div class="card-content">
                        <p class="category">News</p>
                        <h3 class="card-title">25 Topic</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons">store</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Familly</p>
                        <h3 class="card-title">15 Topic</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <i class="material-icons">book</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Education</p>
                        <h3 class="card-title">38 Topic</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">golf_course</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Sport</p>
                        <h3 class="card-title">20 Topic</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">fiber_new</i>
                    </div>
                    <div class="card-content">
                        <p class="category">News</p>
                        <h3 class="card-title">25 Topic</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons">store</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Familly</p>
                        <h3 class="card-title">15 Topic</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <i class="material-icons">book</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Education</p>
                        <h3 class="card-title">38 Topic</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
